body {
    background-color: rgb(36, 35, 35);
	display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
}

form#inserir {
    height: 80vh;
}

form#buscar {
    /* height: 30vh; */
}

div#resultados {
    height: 60vh;
    background-color: rgb(54, 5, 5);
    border-radius: 5px;
    overflow-y: scroll;
	display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
}

.remedio {
    width: 98%;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 2.5px;
    background-color: rgba(48, 48, 48, 0.575);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

div#botoes > div {
    margin: 15px 0px;
}

.remedio:hover {
    background-color: rgba(99, 99, 99, 0.575);
    transition-duration: .4s;
}

a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.botao {
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
}

label#controlado {
    color: white;
}